body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

.title-div{
    width: 500px;
    display: flex;
    justify-content: start;
    
}
.location-div{
    width: 500px;
    display: flex;
    justify-content: start;
    margin : 25px 0px 40px 5px;
}

